aside{
    display: none;
}
article{
    width: 100%;
    background-color:#ad9e9e;
}
section{
    display: block;
}
.main{
    display: flex;
}
.photo{
    border: 2px solid black;
    width: 100%;
}
.second{
    margin-top: 15px;
}
@media(max-width:768px){
    .main{
        display:block;
    }
    .photo{
        margin-top: 10px;
    }

}