.ytb{
    margin-top: 15px;
}
.fix li{
    font-size: 14px;
}
@media(max-width:1200px){
    .fix li{
        font-size: 10px;
    }
}
@media(max-width:992px){
    .fix li{
        font-size: 7px;
    }
}
